@*Author:Sanjana*@

@page "/fetchdata"
@using TuitionsOnlineAdmin.CoreBusiness
@using TuitionsOnlineAdmin.UseCases.GraduateCourses.CreateGraduateCourseScreen.Interfaces
@using TuitionsOnlineAdmin.UseCases.PostGraduateCourses.CreatePostGraduateCourseScreen.Interface
@using TuitionsOnlineAdmin.UseCases.DoctorateCourses.CreateDoctorateCourseScreen.Interface
@using TuitionsOnlineAdmin.UseCases.CertificateCouses.CreateCertificateCourseScreen.Interface
@using TuitionsOnlineAdmin.UseCases.Cities.CreateCityScreen.Interfaces
@using TuitionsOnlineAdmin.UseCases.GraduateCourses.ViewGraduateCourseScreen.Interfaces
@inject ICreateGraduateCourseUseCase  createGraduateCourseUseCase
@inject ICreatePostGraduateCourseUseCase  createPostGraduateCourseUseCase
@inject ICreateDoctorateCourseUseCase  createDoctorateCourseUseCase
@inject ICreateCertificateCourseUseCase  createCertificateCourseUseCase
@inject ICreateCityUseCase  createCityUseCase
@inject IViewGraduateCourseUseCase instanceOfViewGraduateCourseUseCase

<h1>Graduate Course</h1>
<button @onclick="SaveGraduateCourse">SubmitGraduateCourse</button>
<button @onclick="SavePostGraduateCourse">SubmitPostGraduateCourse</button>
<button @onclick="SaveDoctorateCourse">SubmitDoctorateCourse</button>
<button @onclick="SaveCertificateCourse">SubmitCertificateCourse</button>
<button @onclick="SaveCity">SubmitCity</button>

@code{

    List<GraduateCourse> graduateCourseList = new List<GraduateCourse>();

    protected override void OnInitialized()
    {
        graduateCourseList = instanceOfViewGraduateCourseUseCase.ViewGraduateCourse("");
    }

    GraduateCourse graduateCourse = new GraduateCourse()
    {

        GraduateCourseName = "BCom",
        Active = true
    };
    protected void SaveGraduateCourse()
    {
        createGraduateCourseUseCase.CreateGraduateCourse(graduateCourse);

    }
    PostGraduateCourse postGraduateCourse = new PostGraduateCourse()
    {

        PostGraduateCourseName = "M tech",
        Active = true
    };
    protected void SavePostGraduateCourse()
    {
        createPostGraduateCourseUseCase.CreatePostGraduateCourse(postGraduateCourse);



    }






    DoctorateCourse doctorateCourse = new DoctorateCourse()
    {

        DoctorateCourseName = "B sc",
        Active = true
    };
    protected void SaveDoctorateCourse()
    {
        createDoctorateCourseUseCase.CreateDoctorateCourse(doctorateCourse);



    }

    CertificateCourse certificateCourse = new CertificateCourse()
    {
        CertificateCourseName = "BTech",
        Active = true
    };
    protected void SaveCertificateCourse()
    {
        createCertificateCourseUseCase.CreateCertificateCourse(certificateCourse);



    }

    City city = new City()
    {

        CityName = "BArc",
        Active = true,
        PinCode = 560012
    };
    protected void SaveCity()
    {
        createCityUseCase.CreateCity(city);



    }



}