@*Author:Sanjana*@

@page "/fetchdata"
@using TuitionsOnlineAdmin.CoreBusiness
@using TuitionsOnlineAdmin.UseCases.GraduateCourses.CreateGraduateCourseScreen.Interfaces
@using TuitionsOnlineAdmin.UseCases.PostGraduateCourses.CreatePostGraduateCourseScreen.Interface
@using TuitionsOnlineAdmin.UseCases.DoctorateCourses.CreateDoctorateCourseScreen.Interface
@using TuitionsOnlineAdmin.UseCases.CertificateCouses.CreateCertificateCourseScreen.Interface
@using TuitionsOnlineAdmin.UseCases.Cities.CreateCityScreen.Interfaces
@using TuitionsOnlineAdmin.UseCases.GraduateCourses.ViewGraduateCourseScreen.Interfaces
@inject ICreateGraduateCourseUseCase  createGraduateCourseUseCase
@inject ICreatePostGraduateCourseUseCase  createPostGraduateCourseUseCase
@inject ICreateDoctorateCourseUseCase  createDoctorateCourseUseCase
@inject ICreateCertificateCourseUseCase  createCertificateCourseUseCase
@inject ICreateCityUseCase  createCityUseCase
@inject IViewGraduateCourseUseCase instanceOfViewGraduateCourseUseCase

@*<p>This component demonstrates fetching data from a service</p>
=======*@
<h1>Graduate Course</h1>
<button @onclick="SaveGraduateCourse">SubmitGraduateCourse</button>
<button @onclick="SavePostGraduateCourse">SubmitPostGraduateCourse</button>
<button @onclick="SaveDoctorateCourse">SubmitDoctorateCourse</button>
<button @onclick="SaveCertificateCourse">SubmitCertificateCourse</button>
<button @onclick="SaveCity">SubmitCity</button>

@code{

    List<GraduateCourse> graduateCourseList = new List<GraduateCourse>();

    protected override void OnInitialized()
    {
        graduateCourseList = instanceOfViewGraduateCourseUseCase.ViewGraduateCourse("");
    }

    GraduateCourse graduateCourse = new GraduateCourse()
    {

        GraduateCourseName = "BCom",
        Active = true
    };
    protected void SaveGraduateCourse()
    {
        createGraduateCourseUseCase.CreateGraduateCourse(graduateCourse);
        //>>>>>>> origin/CreateGraduateCourse

    }
    PostGraduateCourse postGraduateCourse = new PostGraduateCourse()
    {

        PostGraduateCourseName = "M tech",
        Active = true
    };
    protected void SavePostGraduateCourse()
    {
        createPostGraduateCourseUseCase.CreatePostGraduateCourse(postGraduateCourse);
    }

    DoctorateCourse doctorateCourse = new DoctorateCourse()
    {

        DoctorateCourseName = "B sc",
        Active = true
    };
    protected void SaveDoctorateCourse()
    {
        createDoctorateCourseUseCase.CreateDoctorateCourse(doctorateCourse);
    }

    CertificateCourse certificateCourse = new CertificateCourse()
    {
        CertificateCourseName = "BTech",
        Active = true
    };
    protected void SaveCertificateCourse()
    {
        createCertificateCourseUseCase.CreateCertificateCourse(certificateCourse);
    }

    City city = new City()
    {

        CityName = "BArc",
        Active = true,
        PinCode = 560012
    };
    protected void SaveCity()
    {
        createCityUseCase.CreateCity(city);
    }


    //Currency currency = new Currency()
    //{

    //    CurrencyName = "INR",
    //    Active = true,
    //    Default = true
    //};
    //protected void SaveCurrency()
    //{
    //    // createCurrencyUseCase.CreateCurrency(currency);
    //}

    //Subject subject = new Subject()
    //{

    //    SubjectName = "ME",
    //    Active = true

    //};
    //protected void SaveSubject()
    //{
    //    //  createSubjectUseCase.CreateSubject(subject);
    //}

    //Grade grade = new Grade()
    //{

    //    GradeName = "EC",
    //    Active = true
    //};

    //protected void SaveGrade()
    //{
    //    //createGradeUseCase.CreateGrade(grade);

    //}


    //TeacherVideo teacherVideo = new TeacherVideo()
    //{

    //    VideoURL = "https://www.w3schools.com/",
    //    Active = true
    //};

    //protected void SaveTeacherVideo()
    //{
    //   // createTeacherVideoUseCase.CreateTeacherVideo(teacherVideo);

    //}

    //HighSchoolBoard highSchoolBoard = new HighSchoolBoard()
    //{

    //    HighSchoolBoardName = "School Of India",
    //    Active = true
    //};

    //protected void SaveHighSchoolBoard()
    //{
    //    //createHighSchoolBoardUseCase.CreateHighSchoolBoard(highSchoolBoard);

    //}

    //TeacherBasicInformation teacherBasicInformation = new TeacherBasicInformation()
    //{

    //    TeacherFullName = "Teacher",
    //    Active = true,
    //    EmailAddress="abc@gmail.com",
    //    ContactTeleNumber=1122334455,
    //    TeacherPhotographUrl="url.com",
    //    PreferredLanguage="Kannada",
    //    AlternateLanguage="English",
    //    ExperienceInYears=2
    //};

    protected void SaveTeacherBasicInformation()
    {
        //createTeacherBasicInformationUseCase.CreateTeacherBasicInformation(teacherBasicInformation);

    }


}