@*Author:Sanjana*@

@page "/fetchdata"
@using TuitionsOnlineAdmin.CoreBusiness 
@using TuitionsOnlineAdmin.UseCases.GraduateCourses.CreateGraduateCourseScreen.Interfaces

@inject ICreateGraduateCourseUseCase  createGraduateCourseUseCase

 
<h1>Graduate Course</h1>
<button @onclick="SaveGraduateCourse">Submit</button>



@code{
    GraduateCourse graduateCourse = new GraduateCourse()
    {
        GraduateCourseId = "1002",
        GraduateCourseName = "BE",
        Active = true
    };
    protected void SaveGraduateCourse()
    {
        createGraduateCourseUseCase.CreateGraduateCourse(graduateCourse);

    }

}