<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TuitionsOnlineAdminV2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
@* Authors: Thanvi & Vanditha Date: 11--01-2021. 
    The below lines are rewritten as the menu in the nav bar are different
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div> *@
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"></span> Admin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="graduatecourse">
                <span class="" aria-hidden="true"></span> Manage Graduate Course
            </NavLink>
        </li>

        @* Authors: SA,BM,SM Date: 13--01-2021.
            Aim : to navigate to the postgraduate page*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="postgraduatecourse">
                <span class="" aria-hidden="true"></span> Manage Postgraduate Course
            </NavLink>
        </li>

        @* Authors: SA,BM,SM Date: 14-01-2021.
            Aim : to navigate to the doctorate page*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="doctoratecourse">
                <span class="" aria-hidden="true"></span> Manage Doctorate Course
            </NavLink>
        </li>

        @* Authors: SA,BM,SM Date: 15-01-2021.
            Aim : to navigate to the certificate page*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="certificatecourse">
                <span class="" aria-hidden="true"></span> Manage Certificate Course
            </NavLink>
        </li>


        @* Authors: SA,BM,SM Date: 15-01-2021.
            Aim : to navigate to the Subject page*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="subject">
                <span class="" aria-hidden="true"></span> Manage Subject
            </NavLink>
        </li>

        @* Authors: SA,BM,SM Date: 15-01-2021.
            Aim : to navigate to the Grade page*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="grade">
                <span class="" aria-hidden="true"></span> Manage Grade
            </NavLink>
        </li>

        @* Authors: SA,BM,SM Date: 15-01-2021.
            Aim : to navigate to the Teacher Video page*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="teachervideo">
                <span class="" aria-hidden="true"></span> Manage Teacher Video
            </NavLink>
        </li>


        @* Authors: SA,BM,SM Date: 18-01-2021.
            Aim : to navigate to the HighSchoolBoard page*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="highschoolboard">
                <span class="" aria-hidden="true"></span> Manage HighSchoolBoard
            </NavLink>
        </li>

        @* Authors: SA,BM,SM Date: 18-01-2021.
            Aim : to navigate to the City page*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="city">
                <span class="" aria-hidden="true"></span> Manage City
            </NavLink>
        </li>

        @* Authors: SA,BM,SM Date: 18-01-2021.
            Aim : to navigate to the Currency page*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="currency">
                <span class="" aria-hidden="true"></span> Manage Currency
            </NavLink>
        </li>


        @* Authors: SA,BM,SM Date: 18-01-2021.
            Aim : to navigate to the TeacherBasicInformation page*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="teacherbasicinformation">
                <span class="" aria-hidden="true"></span> Manage Teacher Basic Information
            </NavLink>
        </li>


    </ul>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TeacherGraduateCourseQualification">
                <span class="" aria-hidden="true"></span> Teacher GraduateCourse Qualification
            </NavLink>
        </li>

    </ul>

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TeacherPostGraduateCourseQualification">
                <span class="" aria-hidden="true"></span> Teacher PostGraduateCourse Qualification
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
